.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login-container {
  display: flex;
  justify-content: center;
  background-color: #121212; /* Dark background */
  padding: 1rem;
}

.register-container {
  display: flex;
  justify-content: center;
  background-color: #121212; /* Dark background for the entire page */
  padding: 1rem;
}

/* Styling for the form */
.register-form {
  width: 100%;
  max-width: 400px; /* Limits the width of the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Styling for the form itself */
.login-form {
  width: 100%;
  max-width: 400px; /* Limits the form width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.auth-container {
  max-width: 400px;
  margin: 2rem auto;
}

/* Dark-themed tabs styling */
.dark-tabs .nav-link {
  background-color: #343a40; /* dark background */
  color: #f8f9fa;          /* light text */
  border: none;
  border-bottom: 2px solid transparent;
  margin: 0 5px;
  padding: 10px 15px;
}

.dark-tabs .nav-link.active {
  background-color: #495057; /* slightly lighter dark for active tab */
  color: #ffffff;
  border-bottom: 2px solid #007bff; /* blue underline for active tab */
}

.image {
  height: 800px;      /* Set a consistent height */
  width: auto;        /* Width adjusts to maintain aspect ratio */
  object-fit: contain; /* Ensures the image scales to fit without cropping */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
